# Default ignored files
/../../electronics_store /.idea/shelf/
/../../electronics_store /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../electronics_store /.idea/httpRequests/
# Datasource local storage ignored files
/../../electronics_store /.idea/dataSources/
/../../electronics_store /.idea/dataSources.local.xml
